<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                edu.msu.nscl.olog.AttachmentsResource,
                edu.msu.nscl.olog.LogbooksResource,
                edu.msu.nscl.olog.LogsResource,
                edu.msu.nscl.olog.PropertiesResource,
                edu.msu.nscl.olog.TagsResource         
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                edu.msu.nscl.olog.JacksonJsonProvider,
                org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter        
            </param-value>
        </init-param>   
        <load-on-startup>4</load-on-startup>
    </servlet>
    
    <context-param>
    	<param-name>edu.msu.nscl.olog.OlogContextListener.MIGRATION_PATH</param-name>
    	<!-- This name of a directory name inside src/main/resources/db -->

		<!-- Default Original Migration Path -->
    	<param-value>mysql56\migration</param-value>
    	
    	<!-- Migration Path that works on MySQL 5.6 and later  
    	<param-value>migration_MySQL_5_6</param-value> 
    	-->
    </context-param>
    
    <listener>
  	<listener-class>
  		edu.msu.nscl.olog.OlogContextListener
  	</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Add or Modify Logs</display-name>
        <web-resource-collection>
            <web-resource-name>create / update / delete log(s)</web-resource-name>
            <description/>
            <url-pattern>/resources/logs/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>LogMod</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Add or Modify Logbooks</display-name>
        <web-resource-collection>
            <web-resource-name>create / update / delete logbooks</web-resource-name>
            <description/>
            <url-pattern>/resources/logbooks/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>LogbookMod</role-name>
            <role-name>LogMod</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Add or Modify Tags</display-name>
        <web-resource-collection>
            <web-resource-name>create / update / delete tags</web-resource-name>
            <description/>
            <url-pattern>/resources/tags/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>TagMod</role-name>
            <role-name>LogbookMod</role-name>
            <role-name>LogMod</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
        <security-constraint>
        <display-name>Add or Modify Attachments</display-name>
        <web-resource-collection>
            <web-resource-name>create / update / delete attachments</web-resource-name>
            <description/>
            <url-pattern>/resources/attachments/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>LogbookMod</role-name>
            <role-name>LogMod</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Add or Modify Propertites</display-name>
        <web-resource-collection>
            <web-resource-name>create / update / delete properties</web-resource-name>
            <description/>
            <url-pattern>/resources/properties/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>LogMod</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>olog</realm-name>
    </login-config>
    <security-role>
        <description>May add or modify logs</description>
        <role-name>LogMod</role-name>
    </security-role>
    <security-role>
        <description>May add or modify logbooks</description>
        <role-name>LogbookMod</role-name>
    </security-role>
    <security-role>
        <description>May add or modify tags</description>
        <role-name>TagMod</role-name>
    </security-role>
    <security-role>
        <description>Directory administrator</description>
        <role-name>Administrator</role-name>
    </security-role>
    <resource-ref>
        <res-ref-name>UserTransaction</res-ref-name>
        <res-type>javax.transaction.UserTransaction</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>Connection Pool jdbc/olog</description>
        <res-ref-name>jdbc/olog</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
